---
layout: page
title: Categories
permalink: /categories
---

{% assign categories_name = "" | split: "|"  %}

{% for posts_by_category in site.categories %}
  {% assign categories_name = categories_name | push: posts_by_category.first %}
{% endfor %}

{% assign categories_name = categories_name | sort %}

{% include category_cloud.html categories_name = categories_name %}

<section class="posts-by-categories">
  {% for category_name in categories_name %}
    <div>
      <h3 id="{{ category_name }}">
        {{ category_name | capitalize | replace: "_", " " }}
      </h3>

      <ul>
        {% for post in site.categories[category_name] %}
          <li id="category-post-list-item"><a href="{{ post.url | prepend: baseurl }}">
            {{ post.title }} [{{ post.date | date: '%Y-%m-%d' }}]
          </a></li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>